.logo {
  margin: 0 3rem 0 2.3rem;
}
.navbar-style {
  background-color: rgb(4, 85, 58) !important;
  color: rgb(253, 253, 253) !important;
}
.font {
  margin: 0 2px 5px 0px;
  font-size: large;
}
.nav-item {
  padding: 5px;
  margin: 0 1rem 0 1rem;
}
.nav-item:active {
  color: rgb(255, 255, 255);
  font-size: larger;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box-card {
  margin: 10px;
  height: 100px;
  width: 200px;
  color: rgb(244, 246, 246);
}
.in--card {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-image {
  width: 50px;
}

.product-title {
  width: 100px;
}
.card {
  width: fit-content;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.card img {
  width: 120px;
}
.carts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
